@model AracTakip.Models.ModelAndMotors
@{
    ViewBag.Title = "GetModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Model Güncelleme</h2>
<div class="row">
    <div class="col-md-4">
        <label>Model ADI</label>
        <input type="text" class="form-control" id="ModelAD" value="@Model.ModelAD">
    </div>
    <div class="col-md-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Kapı Tipi</label>
        </div>
        <select class="custom-select" id="KapiSelect">
            <option @(Model.KapiID == "1" ? "selected" : "") value="1">Tek Kapı</option>
            <option @(Model.KapiID == "2" ? "selected" : "") value="2">Standart</option>
            <option @(Model.KapiID == "3" ? "selected" : "") value="3">6 Kapılı</option>
            <option @(Model.KapiID == "4" ? "selected" : "") value="4">8 Kapılı</option>
           
        </select>
    </div>
    <div class="col-md-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Kasa Tipi</label>
        </div>
        <select class="custom-select" id="KasaTip">
            <option @(Model.KasaID == "1" ? "selected" : "") value="1">Minivan / Panelvan</option>
            <option @(Model.KasaID == "2" ? "selected" : "") value="2">Hatchback</option>
            <option @(Model.KasaID == "3" ? "selected" : "") value="3">Station Wagon</option>
            <option @(Model.KasaID == "4" ? "selected" : "") value="4">Sedan</option>
            <option @(Model.KasaID == "5" ? "selected" : "") value="5">Coupe</option>
            <option @(Model.KasaID == "6" ? "selected" : "") value="6">Cabrio</option>
            <option @(Model.KasaID == "7" ? "selected" : "") value="7">MPV</option>
            <option @(Model.KasaID == "8" ? "selected" : "") value="8">SUV</option>
            <option @(Model.KasaID == "9" ? "selected" : "") value="9">Kamyon</option>
            <option @(Model.KasaID == "10" ? "selected" : "") value="10">Damperli Kamyon</option>
            <option @(Model.KasaID == "11" ? "selected" : "") value="11">Minibüs</option>
            <option @(Model.KasaID == "12" ? "selected" : "") value="12">Midibüs</option>
            <option @(Model.KasaID == "13" ? "selected" : "") value="13">Tır</option>
        </select>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Vites Türü</label>
        </div>
        <select class="custom-select" id="VitesTip">
            <option selected>Vites Türünü Seçiniz</option>
            <option @(Model.VitesID == "1" ? "selected" : "") value="1">Manuel 5 Vites</option>
            <option @(Model.VitesID == "2" ? "selected" : "") value="2">Manuel 6 Vites</option>
            <option @(Model.VitesID == "3" ? "selected" : "") value="3">Manuel 8 Vites</option>
            <option @(Model.VitesID == "4" ? "selected" : "") value="4">Manuel 12 Vites</option>
            <option @(Model.VitesID == "5" ? "selected" : "") value="5">Otomatik 5 Vites</option>
            <option @(Model.VitesID == "6" ? "selected" : "") value="6">Otomatik 6 Vites</option>
            <option @(Model.VitesID == "7" ? "selected" : "") value="7">Otomatik 8 Vites</option>
            <option @(Model.VitesID == "8" ? "selected" : "") value="8">Otomatik 12 Vites</option>
        </select>
    </div>
    <div class="col-md-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Motor Türü</label>
        </div>
        <select class="custom-select" id="MotorTip">
            <option selected>Motor Türünü Seçiniz</option>
            @foreach (var motor in Model.motors.OrderBy(x => x.MotorAD))
            {

                <option @(Model.MotorID == motor._id ? "selected" : "") value="@motor._id"> @motor.MotorAD - @motor.MotorBeygir HP - @motor.MotorCC CC</option>
            }

        </select>
    </div>
    <div class="col-md-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Motor Türü</label>
        </div>
        <select class="custom-select" id="MarkaTip">
            <option selected>Marka Türünü Seçiniz</option>
            @foreach (var marka in Model.markas.OrderBy(x => x.MarkaAD))
            {

                <option @(Model.MarkaID == marka._id ? "selected" : "") value="@marka._id"> @marka.MarkaAD</option>
            }

        </select>
    </div>
</div>
<br />
<input type="hidden" value="@Model._id" id="ModelD" />
<button type="button" class="btn btn-secondary" onclick="UpdateModel()">Güncelle</button>
<script>
    function UpdateModel() {
        var id = $("#ModelD").val();
        var ModelAD = $("#ModelAD").val();
        var KasaAD = $("#KasaTip").val();
        var KapiAD = $("#KapiSelect").val();
        var Vites = $("#VitesTip").val();
        var Motor = $("#MotorTip").val();
        var Marka = $("#MarkaTip").val();
        $.ajax({
            url: "/update-model",
            dataType: "json",
            type: "POST",
            data: {
                id: id,
                ModelAD: ModelAD,
                KapiSelect: KapiAD,
                KasaSelect: KasaAD,
                Vites: Vites,
                Motor: Motor,
                Marka:Marka
            },
            success: function () {
                window.location.assign("/get-all-model");
            }




        })
    }
</script>
