@model AracTakipSistemi.DAL.Concrete.tbl_Model
@{
    ViewBag.Title = "GetModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetModel</h2>



<div class="row">
    <div class="col-md-4">
        <label>Model ADI</label>
        <input type="text" class="form-control" id="ModelAD" value="@Model.ModelAD">
    </div>
    <div class="col-md-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Kapı Tipi</label>
        </div>
        <select class="custom-select" id="KapiSelect">
            <option @(Model.KapiID == "1" ? "selected" : "") value="1">1</option>
            <option @(Model.KapiID == "2" ? "selected" : "") value="2">2</option>
            <option @(Model.KapiID == "3" ? "selected" : "") value="3">4</option>
            <option @(Model.KapiID == "6" ? "selected" : "") value="6">6</option>
            <option @(Model.KapiID == "8" ? "selected" : "") value="8">8</option>
        </select>
    </div>
    <div class="col-md-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Kasa Tipi</label>
        </div>
        <select class="custom-select" id="KasaTip">
            <option @(Model.KasaID == "Minivan/Panelvan" ? "selected" : "") value="Minivan/Panelvan">Minivan / Panelvan</option>
            <option @(Model.KasaID == "Hatchback" ? "selected" : "") value="Hatchback">Hatchback</option>
            <option @(Model.KasaID == "StationWagon" ? "selected" : "") value="StationWagon">Station Wagon</option>
            <option @(Model.KasaID == "Sedan" ? "selected" : "") value="Sedan">Sedan</option>
            <option @(Model.KasaID == "Coupe" ? "selected" : "") value="Coupe">Coupe</option>
            <option @(Model.KasaID == "Cabrio" ? "selected" : "") value="Cabrio">Cabrio</option>
            <option @(Model.KasaID == "MPV" ? "selected" : "") value="MPV">MPV</option>
            <option @(Model.KasaID == "SUV" ? "selected" : "") value="SUV">SUV</option>
            <option @(Model.KasaID == "Kamyon" ? "selected" : "") value="Kamyon">Kamyon</option>
            <option @(Model.KasaID == "DamperliKamyon" ? "selected" : "") value="DamperliKamyon">Damperli Kamyon</option>
            <option @(Model.KasaID == "Minibüs" ? "selected" : "") value="Minibüs">Minibüs</option>
            <option @(Model.KasaID == "Midibüs" ? "selected" : "") value="Midibüs">Midibüs</option>
            <option @(Model.KasaID == "Tır" ? "selected" : "") value="Tır">Tır</option>
        </select>
    </div>
</div>

<br />

<input type="hidden" value="@Model._id" id="ModelD" />
<button class="btn btn-secondary" onclick="UpdateModel()">Güncelle</button>
<script>
    function UpdateModel() {
        var id = $("#ModelD").val();
        var YakitAD = $("#YakitTip").val();
        var Silindir = $("#Silindir").val();
        var ModelAD = $("#ModelAD").val();
        var KasaAD = $("#KasaTip").val();
        var KapiAD = $("#KapiSelect").val();
        var HP = $("#MotorBeygir").val();
        var CC = $("#MotorCC").val();
        $.ajax({
            url: "/update-model",
            dataType: "json",
            type: "POST",
            data: {
                id: id,
                YakitAD: YakitAD,
                Silindir: Silindir,
                ModelAD: ModelAD,
                KasaAD: KasaAD,
                KapiAD: KapiAD,
                HP: HP,
                CC: CC
            },
            success: function () {
                window.location.assign("/get-all-model");
            }




        })
    }
</script>
